/* Reset de estilos */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 10px 10px;
}

body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("../assets/star-wars.png") center/cover no-repeat;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  max-width: 800px;
  padding: 20px;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background-color: #ffe81f;
  color: #000;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ffc72c;
}

h2,
h3 {
  margin-top: 20px;
}

/* Estilos específicos para la información del personaje */
.person-info {
  margin-top: 20px;
}

.character-card {
  border: 1px solid #ffe81f;
  padding: 10px;
  margin: 10px;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  background-color: #ffe81f;
  color: #000;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #ffc72c;
}
